body, html {
	background-color:#E0EFF1;
	height: 100%;
}
*{
box-sizing: border-box;
}

h1 {
  color: #c3e1e6;
  font-family: Rockwell;
  font-size: 2.0em;
}
h2 {
  color: #d5eaed;
  font-family: Rockwell;
  font-size: 1.0em;
}
h3 {
	color: #039db1;
	font-family: Rockwell;
	font-size: 1.3em;
}
.header-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("beach.jpeg");
	height: 20%;
	min-height: 150px;
	background-position: center;
	background-size: cover;
	position: relative;
	box-shadow: -8px 8px 12px #000;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	/*border-radius: 25px;*/
	
}
.header-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.navbar {
	background-color: #000;
	overflow: hidden;
	box-shadow: -8px 10px 12px #000;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	
}
.logo{
	position:absolute;
	width=32px;
}
.navbar a{
	float: right;
	color: #039db1;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: Rockwell;
}
.navbar a.logo{
	width: 48px;
	height: 48px;
	float: left;
	display:inline-block;
	
}
.navbar a.logo:hover{
}
.navbar a:hover{
	background-color: #888888;
	color: black;
}
.navbar a.active{
	background-color: #039db1;
	color: #000;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  float: left;
  border-radius: 25px;
  box-shadow: -8px 8px 12px #000;
  max-width: 500px;
  position: relative;
  margin: auto;
  

  padding-bottom: 0px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #039db1;
  font-family: Rockwell;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
text-align: center;
  cursor: pointer;
  position: absolute;
  top: 1%;
  margin-top: -22px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  float: left;
  }

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.info {
display: block;
	border: 0px solid #039db1;
	min-width: 40%
	height: 320px;
	padding-left: 8px;
	padding-right: 12px;
	padding-bottom: 20px;
	float: right;
}
.spacer {
	width: 100%;
	height: 20px;
}
hr{
	position:relative;
	padding-top: 40px;
	border-top: 0px solid #000;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #039db1;
	width: 100%;

}
.house{
	border-radius: 25px;
}
.container{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}
.section{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}
.decor{
	display: block;
	max-width: 200px;
	filter: drop-shadow(-8px 8px 12px #000);
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}
.decortext{
	padding-top: 60px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	float: left;
	max-width: 500px;
	
}
.footer{
	position: fixed;
	bottom: 0;
}
